desktop.ini
Thumbs.db
*.log
node_modules/
dist/
dist-npm/
.env
*.local
.DS_Store
.vscode/
.vercel/
packages/console/app/.stripe/
packages/console/app/public/sitemap.xml
packages/console/app/src/routes/s/
packages/web/src/pages/s/
*/.turbo/
*.tsbuildinfo
